<p>Здраствуйте <%= @resource.email %>!</p>

<p>Для востановления проля перейдите по ссылке ниже</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
